<!DOCTYPE html>
<html>
	<head>
		<title>Sign Up</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="lab2.css">
    <style> {

      } </style>
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="container" id="orientation">
          <h2>Orientation (degrees):</h3>
          <h3>Heading = <span id="heading">0</span></h4>
          <h3>Roll = <span id="roll">0</span></h4>
          <h3>Pitch = <span id="pitch">0</span></h4>

    </div>
    <div class="container" id="calibration">
            <h2>Calibration:</h3>
            <h3>(0 = Uncalibrated )</h4>
            <h3>(3 = Calibrated)</h4>
            <h3>System = <span id="Sys">0</span></h4>
            <h3>Gyroscope = <span id="Gyro">0</span></h4>
            <h3>Accelerometer = <span id="Accel">0</span></h4>
            <h3>Magnetometer = <span id="Mag">0</span></h4>
    </div>

  <script>
  $(document).ready(function() {

    function updateData(data) {
          // Save the reading then update the UI.
          bnoData = data;
          $('#heading').text(data.heading);
          $('#roll').text(data.roll);
          $('#pitch').text(data.pitch);
          $('#Sys').text(data.Sys);
          $('#Gyro').text(data.Gyro);
          $('#Accel').text(data.Accel);
          $('#Mag').text(data.Mag);
    }  

    // Create server sent event connection to receive BNO sensor data.
    var server = new EventSource('/bno');

    // Add server sent event handler
    server.onmessage = function(e) {
      // Update BNO sensor values.
      updateData(JSON.parse(e.data));
    };
  });
	</body>
</html>